.filter__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 20px;
}

.filter__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: var(--text-color);
  border-radius: 6px;
  border: 1px solid #c6c2de;
  transition: color, background-color 0.3s ease-in-out;
}

.filter__btn-icon {
  color: #8b83ba;
}

.filter__btn:hover,
.filter__btn:focus {
  color: #fff;
  background-color: var(--btn-color);
}

.filter__btn:hover .filter__btn-icon,
.filter__btn:focus .filter__btn-icon {
  color: #fff;
}

.filter__btn:active {
  background-color: var(--title-color);
}

.filter__form-search {
  position: relative;
  max-width: 392px;
  width: 100%;
  margin-right: auto;
}

.filter__input-search {
  width: 100%;
  padding: 13px 10px 13px 40px;
  font-size: 12px;
  border-radius: 6px;
  background-color: var(--input-bg-color);
}

.filter__input-search::placeholder {
  transition: color 0.3s ease-in-out;
}

.filter__input-search:focus::placeholder {
  color: transparent;
}

.filter__input-search::placeholder {
  font-size: 12px;
}

.filter__btn-search {
  position: absolute;
  top: 50%;
  left: 10px;
  bottom: 0;
  transform: translateY(-50%);
}

.filter__btn-goods {
  padding: 10px 16px;
}

@media (max-width: 830px) {
  .filter__btn {
    order: 1;
  }

  .filter__btn-goods {
    order: 2;
  }

  .filter__form-search {
    max-width: 100%;
    order: 3;
  }
}

@media (max-width: 470px) {
  .filter__container {
    padding: 10px;
  }

  .filter__btn-text {
    display: none;
  }
}
