.overlay {
  display: block;
  position: fixed;
  inset: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal__main {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 792px;
  min-height: auto;
  padding: 32px 106px;
  background: var(--bg-color);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);
  cursor: default;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid #c6c2de;
}

.modal__goods-id {
  display: none;
  font-size: 10px;
  font-weight: 600;
  color: #c5c5c5;
  text-transform: uppercase;
}

.form__fieldset {
  display: grid;
  grid-template-areas:
    'name description'
    'category description'
    'units count'
    'discount price'
    'file file';
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  max-width: 580px;
  min-height: auto;
  margin-bottom: 32px;
  padding: 28px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--container-box-shadow);
}

.form__field-container_name {
  grid-area: name;
}

.form__field-container_category {
  grid-area: category;
}

.form__field-container_units {
  grid-area: units;
}

.form__field-container_discount {
  display: grid;
  grid-template-areas:
    'label label'
    'checkbox input';
  grid-area: discount;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
}

.form__label_discount {
  grid-area: label;
}
.form__checkbox_discount {
  grid-area: checkbox;
}
.form__input_discount {
  grid-area: input;
}

.form__field-container_description {
  grid-area: description;
}

.form__field-container_count {
  grid-area: count;
}

.form__field-container_price {
  grid-area: price;
}

.form__field-container:not(:last-child) {
  margin-bottom: 12px;
}

.form__label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: var(--title-color);
  text-transform: uppercase;
}

.form__input {
  width: 100%;
  padding: 10.9px 16px;
  border-radius: 6px;
  background-color: var(--input-bg-color);
}

.form__input:disabled {
  vertical-align: top;
  background-color: #eee;
  transition: background-color 0.3s ease-in-out;
}

.form__checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--input-bg-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__checkbox::after {
  position: absolute;
  content: '';
  inset: 0;
  display: block;
  background: url('../img/icon-check.svg') no-repeat center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__checkbox:checked::after {
  opacity: 1;
}

.form__checkbox:checked + .form__input {
  background-color: var(--input-bg-color);
}

.form__file-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  grid-area: file;
  padding-top: 20px;
}

.form__btn-container {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  gap: 10px 24px;
}

.form__btn-text {
  display: none;
  min-width: 250px;
  width: 100%;
  align-self: flex-start;
  color: #d80101;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.form__file {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.form__file-prewiev {
  display: none;
  position: relative;
  width: 100%;
  width: max-content;
}

.form__file-prewiev::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__file-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.form__file-prewiev:hover .form__file-icon,
.form__file-prewiev:hover::after {
  opacity: 1;
}

.form__total-price-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  padding: 0 28px;
}

.form__btn_close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 20px;
  height: 20px;
  background: url('../img/close.svg') center/cover no-repeat;
}

.form__btn_file {
  min-width: 250px;
  width: 100%;
  align-self: flex-end;
  font-size: 14px;
  cursor: pointer;
}

.modal__open {
  /*display: block;*/
  visibility: visible;
  opacity: 1;
}

@media (max-width: 830px) {
  .form__btn-container {
    flex-direction: column;
    align-self: stretch;
  }
}

@media (max-width: 768px) {
  .modal__title {
    font-size: 20px;
  }

  .form__fieldset {
    grid-template-areas:
      'name'
      'category'
      'units'
      'discount'
      'description'
      'count'
      'price'
      'file';
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .form__total-price-container {
    justify-content: flex-end;
  }
}

@media (max-width: 570px) {
  .overlay {
    padding: 20px;
  }

  .modal__main {
    padding: 10px;
  }

  .modal__header {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .form__total-price-container {
    padding: 20px;
    justify-content: center;
  }

  .section__btn-goods {
    width: 100%;
  }

  .form__btn_close {
    top: 10px;
    right: 10px;
  }
}
