.table {
  padding-bottom: 110px;
}

.table__container {
  overflow-x: auto;
}

.table__goods {
  width: 1100px;
  border-collapse: collapse;
}

.table__row {
  border-top: 1px solid #c6c2de;
  border-bottom: 1px solid #c6c2de;
}

.table__row_head {
  background-color: var(--input-bg-color);
}

.table__title {
  padding: 15px 7.5px;
  color: var(--title-color);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: left;
}

.table__title:first-child {
  padding-left: 15px;
}

.table__title:last-child {
  padding-right: 15px;
}

.table__title_id {
  width: 100px;
}

.table__title_name {
  width: 305px;
}

.table__title_category {
  width: 175px;
}

.table__title_units {
  width: 68px;
}

.table__title_count {
  width: 106px;
}

.table__title_price,
.table__title_total-sum {
  width: 95px;
}

.table__title_units,
.table__title_count,
.table__ceil_units,
.table__ceil_count {
  text-align: center;
}

.table__title_price,
.table__title_total-sum,
.table__ceil_price,
.table__ceil_total-sum {
  text-align: right;
}

.table__ceil {
  padding: 19px 7.5px 20px;
  font-size: 14px;
  font-weight: 500;
}

.table__ceil:first-child {
  padding-left: 15px;
}

.table__ceil:last-child {
  padding-right: 15px;
}

.table__ceil_units {
  color: var(--title-color);
}

.table__ceil_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.table__btn {
  width: 20px;
  height: 20px;
  transition: border, transform 0.3s ease-in-out;
}

.table__btn:hover {
  transform: scale(1.1);
}

.table__btn:focus {
  border: 1px solid var(--title-color);
}

.table__footer {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  color: var(--title-color);
  background-color: #f4f2ff;
}

.table__select-container {
  position: relative;
  display: inline-block;
}

.table__select-container::after {
  content: url('../img/polygon.svg');
  position: absolute;
  top: -2px;
  right: -2px;
  pointer-events: none;
}

.table__select {
  appearance: none;
  padding-right: 10px;
  font-weight: 600;
  color: var(--title-color);
  background-color: #f4f2ff;
}

.table__content-pagination {
  display: grid;
  grid-template-areas: 'select pages btn';
  align-items: center;
  justify-content: flex-end;
  column-gap: 50px;
  padding: 12px 16px;
}

.table__form {
  grid-area: select;
}

.table__count-pages {
  grid-area: pages;
}

.table__btn-container {
  display: flex;
  column-gap: 30px;
  grid-area: btn;
}

.table__btn-pagination {
  width: 20px;
  height: 20px;
  transition: border, transform 0.3s ease-in-out;
}

.table__btn-pagination:hover {
  transform: scale(1.2);
}

.table__btn-pagination:focus {
  border: 1px solid var(--title-color);
}

@media (max-width: 830px) {
  .table {
    padding-bottom: 55px;
  }

  .table__content-pagination {
    gap: 20px;
  }
}

@media (max-width: 560px) {
  .table__content-pagination {
    grid-template-areas:
      'select select'
      'pages btn';
    justify-items: flex-end;
    gap: 10px;
  }
}

@media (max-width: 470px) {
  .table {
    padding-bottom: 20px;
  }
}
